@import "tailwindcss";
@tailwind components;
@tailwind utilities;

:root {
  --background: #0E192D; /* Set background to black */
  --foreground: #ffffff; /* Set text color to white */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0E192D; /* Set dark mode background to black */
    --foreground: #ffffff; /* Set dark mode text color to white */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)   
    )!important;
}

.navbar-spacing {
  padding-top: 80px; /* Adjust based on your navbar height */
}